*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
    
}
.header_top{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: grey;
    height: 5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    font-family: 'Roboto', sans-serif;
}
.header_top a{
    color:grey;
    text-decoration: none;
}
.header_top a:hover{
    color: white;
    transition: 0.3s;
}
.header_top_right{
    padding
}