*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}
.header_top{
    display: flex;
    justify-content: space-around;
    background-color: #222222;
    color: grey;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    padding-top: 1.5rem;
}
.headertop_left{
    display: flex;
}
.header_top a{
    color:grey;
    text-decoration: none;
}
.header_top a:hover{
    color: white;
    transition: 0.3s;
}
.header__bot{
    margin-top: 2rem;
}
.header__menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.8rem;
}
.header__menu__left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.menu__span{
    padding-left: 3rem;
}
.menu__span span{
    padding: 0 1rem;
    position: relative;



}

.menu__span span::before {
    content: "";
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: black;
    display: none;
}
.active .menu__span span::before {
    display: block;
}
.menu__logo img{
    padding-right:3rem ;
    padding-left: 7rem;
}
.header__menu__right svg{
    padding:1rem ;
}
.footer{
    background-color: #222222;
    height: 30rem;
    color:grey;
    font-weight: 300;
}
.footer .container{
    padding-top: 2.5rem;
}
.footer__top{
    display: flex;
    justify-content:space-evenly;
    padding: 1.5rem;
    padding-top: 2rem;
    align-items: center;
    text-transform: uppercase;
}
.footer__top h3{
    font-size: 1.6rem;
}
.footer__top ul{
    list-style: none;
    font-size: 1.4rem;
}
.footer__top a{
    text-decoration: none;
    color: grey;
}
.footer__top a:hover{
    color: white;
    text-decoration:underline;
    transition: 0.3s;
}
.list_6{
    width: 12rem;
    margin-right: 0.5rem;
}
.list_6 h3{
    margin-top: -2rem;
}
.list_6 li{
    float: left;
    font-size: 2rem;
    padding: 0 2px;
}
.list__container h3{
    color: #fff;
    font-weight: 300;
}
.footer__bot{
    border-top: 0.1rem solid grey;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
}
.bot__left{
    margin-top: 5rem;
    font-weight: 300;
}
.bot__left h2 a{
    text-decoration: none;
    color: #4d4d4d;
}
.bot__left h2 a:hover{
    text-decoration:underline;
    color: #551a8b;
}
.bot__left ul{
    list-style: none;
    font-size: 1.2rem;
}
.bot__left li{
    float: left;
}
.footer__bot .bot__left ul li::after{
    content: "";
    display: inline-block;
    height: 1.5rem;
    width: 0.1rem;
    margin: 0 1rem;
    background-color: #3a3a3a;

}
.list__nav a {
    color: grey;
    text-decoration: none;
}
.list__nav li :hover{
    color: white;
}
.bot__right{
    margin-top: 6rem;
}
.payment-methods li{
    list-style: none;
    float: left;
    margin-left: 2rem;
}
.payment-methods img{
    vertical-align: middle;
}
.payment-methods li a{
    opacity: .5;
}
.payment-methods li a:hover{
    opacity: 1;
}